@media(max-width:768px){
  .ms-menu{
      width: 768px;
  }
  .ms-navbar-main{
      width: 768px;
  }
   .ms-left-down{
      width: 768px;
   }
}
@media(max-width:640px){
  .ms_menu{
      width: 340px;
  }
}
