@media (max-width: 900px) {
  .AB-nav-top1 {
    display: none;
  }
  .AB-nav-top {
    grid-template-columns: 70%;
    grid-template-rows: auto;
    justify-content: center;
  }
}


@media (max-width: 768px) {   
    .AB-nav-menu .AB-nav-item{
        display: block;

    }
    .AB-nav-menu{
        flex-wrap: wrap;      
        justify-content: space-evenly; 
        padding-left: 0; 
    }
    .AB-nav-top{
        grid-template-columns: 100%;
    }
    .AB-nav-item{
        padding-left: 10;
    }.fbfeature{
      flex-wrap: wrap;
      padding: 10px;

    }.firstcell{
      width: 70%;
      display: block;
    }

  }
